* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
	--Light-Grayish-Blue: hsl(234, 14%, 74%);
	--Grayish-Blue: hsl(233, 13%, 49%);
	--Dark-Grayish-Blue: hsl(232, 13%, 33%);
	--Linear-Gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main-container {
	font-family: Montserrat;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
	border-radius: 10px;
}
.heading-text {
	color: var(--Dark-Grayish-Blue);
	text-align: center;
}
.toggle-container {
	display: flex;
	align-items: center;
	gap: 20px;
	width: fit-content;
	margin: 0 auto;
}
.toggle-text {
	font-size: 12px;
	font-weight: bold;
}
.toggle-outer {
	display: flex;
	align-items: center;
	height: 20px;
	width: 40px;
	padding: 0 5px;
	background: var(--Linear-Gradient);
	border-radius: 20px;
	cursor: pointer;
}
.toggle-inner {
	height: 15px;
	width: 15px;
	background-color: var(--Very-Light-Grayish-Blue);
	border-radius: 100%;
}
.toggle-text {
	color: var(--Grayish-Blue);
}
.pricing-container {
	display: flex;
	color: var(--Dark-Grayish-Blue);
	border-radius: 10px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	background-color: hsl(240, 78%, 98%);
}
.pricing-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	width: 250px;
	text-align: center;
	border-radius: 10px;
}
.pricing-column-middle {
	color: var(--Very-Light-Grayish-Blue);
	background: var(--Linear-Gradient);
	border-radius: 0;
}
.pricing-title {
	font-size: 12px;
}
.pricing-dollars {
	font-size: 32px;
	font-weight: bold;
}
.pricing-monthly {
	display: none;
}
.perks-container {
	display: flex;
	flex-direction: column;
}
.pricing-perks {
	padding: 15px 0;
}
.pricing-perks:nth-child(1) {
	border-top: 1px solid var(--Light-Grayish-Blue);
	border-bottom: 1px solid var(--Light-Grayish-Blue);
}
.pricing-perks:nth-child(3) {
	border-top: 1px solid var(--Light-Grayish-Blue);
	border-bottom: 1px solid var(--Light-Grayish-Blue);
}
.button {
	color: hsl(237, 63%, 64%);
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0;
	border: 1px solid var(--Light-Grayish-Blue);
	background-color: var(--Very-Light-Grayish-Blue);
	border-radius: 5px;
	cursor: pointer;
	background-color: hsl(240, 78%, 98%);
	transition: 0.4s;
}
.button:hover {
	color: var(--Very-Light-Grayish-Blue);
	background-color: hsl(237, 63%, 64%);
	border: 1px solid var(--Light-Grayish-Blue);
}
.button-middle {
	color: var(--Very-Light-Grayish-Blue);
	border: 1px solid var(--Very-Light-Grayish-Blue);
	background: var(--Linear-Gradient);
}
.button-middle:hover {
	color: hsl(237, 63%, 64%);
	background: var(--Very-Light-Grayish-Blue);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
